.btn {
  padding: 1rem 2rem;
  background-color: var(--c_main);
  box-shadow: var(--c_second) 0px 6px 0px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.06rem;
  font-size: 24px;
  color: var(--c_bnt);
  cursor: pointer;
}