
:root {
  --main_font: 'Roboto', 'Roboto Condensed', sans-serif;
  --second_font: 'Roboto Condensed', sans-serif;

  --c_main: #ff5a5a;
  --c_second: #d34b4b;

  --c_header_btn: #ff7a7a;

  --c_bnt: #ffffff;
}